body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #222;
}

.logo {
    font-size: 1.5rem;
}

.button {
    background-color: #3e3d3d;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

main {
    padding: 2rem;
}

.intro {
    text-align: center;
    margin-bottom: 2rem;
}

.intro h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.intro p {
    max-width: 600px;
    margin: 0 auto;
}

.feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.text-box {

    flex: 1;
    margin-right: 2rem;
}

.image-box {
    flex: 1;
}

.image-box img {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 400px;
    height: auto;
}

.services {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.service {

    padding: 1rem;
    text-align: center;
    flex: 1;

}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.feature-box {

    padding: 1rem;
    text-align: center;

    margin: 0 1rem;
}

.feature-box img {
    max-width: 100%;
    height: auto;
}

.additional-feature {
    margin-bottom: 2rem;
    text-align: center;
}

.feature-info {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.feature-description {
    background-color: #ffffff;
    color: #222;
    padding: 1rem;
    flex: 1;
    margin: 0 1rem;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 1rem;
}

.footer-logo {
    margin-bottom: 1rem;

}

.service-nav {
    display: flex;

}

div.text-box-left {
    display: flex;
    flex-direction: column;
   max-width: 266px;
    height: 120px;
    gap: 20px;
    opacity: 0px;

}
@media (max-width: 768px) {

    .service-nav {
        align-items: center;
        margin-bottom: 10px;
    }

    .button {
        margin-top: 10px;
    }

    .intro h1, .feature h2, .services h2, .features h1, .additional-feature h2 {
        font-size: 1.2em;
    }

    .feature, .services, .features, .additional-feature {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature .text-box, .feature .image-box, .services .text-box, .service, .features .feature-text, .feature-box, .additional-feature .feature-info {
      
        text-align: center;
    }

    .features .feature-box img {
        width:250px;
        align-items: center;
    }

    .additional-feature .feature-description {
        margin-bottom: 20px;
        align-items: center;
    }

    .feature-box, .service, .feature-description {
        
        align-items: center;
    }
    .image-box img{
        max-width: 250px;
        align-items: center;
    }
}
@media (max-width: 320px) {

    .service-nav {
        align-items: center;
        margin-bottom: 10px;
    }
    .header{
       
        display: none;
    }
    div.purple-nav{
        display: none;
    }
    .button{
       display: none;
    }
}
@media (max-width: 375px) {

    .service-nav {
        align-items: center;
        margin-bottom: 10px;
    }
    .header{
       
      display: none;
    }
    div.purple-nav{
        display: none;
    }
    .button{
        margin-top: 10px;
    }
}
@media (max-width: 425px) {

    .service-nav {
        align-items: center;
        margin-bottom: 10px;
    }
    .header{
       display: none;
        
    }
    div.purple-nav{
       display: none;
    }
    .button{
        margin-top: 10px;
    }
}